## Classes
exportClasses(
              "filehashRemote",
	      "filehashLocal"
              )


## Primary interface
exportMethods(
	      "dbCreate",
              "dbInsert",
              "dbFetch",
              "dbExists",
              "dbList",
              "dbDelete",
		  "dbSync"
              )

## Imports
import(tools)
import(filehash)

exportMethods(
             "setDir<-"
             )
